output/New recording 11.txt
output/New recording 12.txt
output/New recording 13.txt
output/New recording 15.txt
samples/hello.m4a
samples/New recording 11.m4a
samples/New recording 12.m4a
samples/New recording 13.m4a
samples/New recording 15.m4a
samples/sample001.mp4
samples/sample002.aac
samples/sample003.aac
.google-cookie
test/main.py
test/multiprocessingDemo copy.py
test/queueDemo.py
test/record.py
test/transcribeOnTheFly.py
test/transcribeOnTheFlyV2.py
notes.txt
dist/main.exe
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.exe.manifest
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
